@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

            button:hover, a:hover {
                opacity: 0.7;
            }
    </style>
</head>
<body>

    <div class="card">
        @*<picture><img scr=":\Users\ac98824\source\repos\FruitShopWebApp\FruitShopWebApp\user-sign-icon-person-symbol-human-avatar-vector-12693195.jpg" alt="Malhar Gohel" style="width:100%"></picture>*@
        <p style="color: white">0</p>
        <h1>Malhar Gohel</h1>
        <p class="title">Owner</p>
        <p>Glen Eden Fruit Shop</p>
        <div style="margin: 24px 0;">
            @*<a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>*@
            <a href="https://www.facebook.com/pages/category/Fruit---Vegetable-Store/Glen-Eden-Fruit-Shop-665780437178990/"><i class="fa fa-facebook"></i></a>
        </div>
        <p class="title">Phone: <p>0224543755</p></p>
        <p class="title">Email: <p>ac98824@avcol.school.nz</p></p>
        <a href="http://localhost:50074/Home/Location"><button>Location</button></a>
    </div>

</body>
