@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<link href="~/css/Slideshow.css" rel="stylesheet" />

<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="content">
        <div class="images">
            <img src="~/Images/apples-OG.jpg">
            <img src="~/Images/banana-hack-kb-main-201027_6cc2812b123bcae160b877e026f25d32.jpg">
            <img src="~/Images/mango-at-the-market-506813675-587e60f53df78c17b6967f5e.jpg">
            <img src="~/Images/green-vs-gold-masthead.jpg">
            <img src="~/Images/close-up-delicious-fruit-1068534.jpg">
        </div>
    </div>
    <script>
        var indexValue = 0;
        function slideShow() {
            setTimeout(slideShow, 3000);
            var x;
            const img = document.querySelectorAll("img");
            for (x = 0; x < img.length; x++) {
                img[x].style.display = "none";
            }
            indexValue++;
            if (indexValue > img.length) { indexValue = 1 }
            img[indexValue - 1].style.display = "block";
        }
        slideShow();
    </script>

</body>

</html>
